<h1> Hello page about me! </h1>

<body>
  <p>
    My name is Eric, and I enjoy playing video games (PC, PS4, PSVITA) whenever
    I have the time. I'm a big fan of RPGs, and my favorite series is
    Final Fantasy (4, 8, and 9 are my faves).
  </p>
</body>
